<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Food_Fanatic</title>
<head>
<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="../../css/bootstrap.min.css" type="text/css">

	<link rel="stylesheet" href="./css/category_style.css" type="text/css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

</head>

<body>

<!-- <div ng-init="Food_Fanatic()">
	
	<div id='header' > 
		<h1>Food_Fanatic</h1>
	</div>


	<div id='leftpanel' >
 		<img  ng-repeat="i in content2" ng-src="{{i.url}}" alt="{{i.alt}}"   ng-click="Food_Fanatic_openinfo(i)"/>
	</div>


	<div id='container1'>
	
	  	<div class='placeinfo' id='info' ng-repeat="data in content1" >	

			<div id='show_image' >
				<img ng-src="{{data.Food_Fanatic_Image_Url}}" alt = "{{data.Food_Fanatic_Image_Name}}" />
			</div>

			<div  id='show_note'>
				{{data.Food_Fanatic_Id}} 			<br>
				{{data.Food_Fanatic_Image_Name}} 	<br>
				Opening Time : {{data.Food_Fanatic_Opening_Time}} 	<br>
				Closing Time : {{data.Food_Fanatic_Closing_Time}} 	<br>
				Days Closed : {{data.Food_Fanatic_Days_Closed}} 	<br>
				Charges : {{data.Food_Fanatic_Cost}} 			<br>
				Nearest Metro Station : {{data.Food_Fanatic_Nearest_Metro_Station}} 	
			</div>

			<div  id='show_description'>
				{{data.Food_Fanatic_Description}}
			</div>
			
		</div> 
	</div>
</div>

 -->
 	<div id="category_container">
		<div ng-init="Food_Fanatic()">
			<div class="row" >
				<div class="col-lg-12 text-center" id="category_row"> 
					<h1>FOOD FANATIC</h1>
				</div>
	

				<div class="col-md-3 col-lg-3" id='leftpanel'>
 					<img ng-repeat="i in content_food" ng-src="{{i.url}}" alt="{{i.alt}}" ng-click="Food_Fanatic_openinfo(i)"/>
				</div>

				<div class="col-md-9 col-lg-9" id='container1'>
					<div class='col-md-12 col-lg-12' id='info' ng-repeat="data in content_food_info" >	
	  					<div class="row">
	  					  	<div class="col-md-8 col-lg-8" id='show_image'>
								<img ng-src="{{data.Food_Fanatic_Image_Url}}" alt = "{{data.Food_Fanatic_Image_Name}}" />
							</div>

							<div class="col-md-4 col-lg-4">
								<div id='show_note'>
									{{data.Food_Fanatic_Id}} 			<br>
									{{data.Food_Fanatic_Image_Name}} 	<br>
									Opening Time : {{data.Food_Fanatic_Opening_Time}} 	<br>
									Closing Time : {{data.Food_Fanatic_Closing_Time}} 	<br>
									Days Closed : {{data.Food_Fanatic_Days_Closed}} 	<br>
									Charges : {{data.Food_Fanatic_Cost}} 			<br>
									Nearest Metro Station : {{data.Food_Fanatic_Nearest_Metro_Station}}  	
								</div>
							</div>
						</div>
						<br><br>

					<div  class="col-md-12 col-lg-12" id='show_description'>
						{{data.Food_Fanatic_Description}}
					</div>
					</div> 
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>

	
