<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Heritage_Seeker</title>
<head>

	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="../../css/bootstrap.min.css" type="text/css">

	<link rel="stylesheet" href="./css/category_style.css" type="text/css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

</head>

<body >

	<div  id="category_container">
		<div ng-init="Heritage_Seeker()">
			<div class="row" >
				<div class="col-lg-12 text-center" id="category_row"> 
					<h1><B>HERITAGE SEEKER<B></h1>
				</div>
	

				<div class="col-md-3 col-lg-3" id='leftpanel'>
 					<img ng-repeat="i in content_heritage" ng-src="{{i.url}}" alt="{{i.alt}}" ng-click="Heritage_Seeker_openinfo(i)"/>
				</div>

				<div class="col-md-9 col-lg-9" id='container3'>
					<div class='col-md-12 col-lg-12' id='info' ng-repeat="data in content_heritage_info" >	
					<div class="text-center">{{data.Heritage_Seeker_Image_Name}}</div>
	  					<div class="row">
	  					  	<div class="col-md-8 col-lg-8" id='show_image' >
								<img ng-src="{{data.Heritage_Seeker_Image_Url}}" alt = "{{data.Heritage_Seeker_Image_Name}}" />
							</div>

							<div class="col-md-4 col-lg-4">
								<div id='show_note'>
									{{data.Heritage_Seeker_Id}} 			<br>
									{{data.Heritage_Seeker_Image_Name}} 	<br>
									Opening Time : {{data.Heritage_Seeker_Opening_Time}} 	<br>
									Closing Time : {{data.Heritage_Seeker_Closing_Time}} 	<br>
									Days Closed : {{data.Heritage_Seeker_Days_Closed}} 	<br>
									Charges : {{data.Heritage_Seeker_Cost}} 			<br>
									Nearest Metro Station : {{data.Heritage_Seeker_Nearest_Metro_Station}} 	
								</div>
							</div>
						</div>
						<br><br>

					<div  class="col-md-12 col-lg-12" id='show_description'>
						{{data.Heritage_Seeker_Description}}
					</div>
					</div> 
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>

	






