<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Spiritual_Divine</title>
<head>

	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="../../css/bootstrap.min.css" type="text/css">

	<link rel="stylesheet" href="./css/category_style.css" type="text/css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

</head>

<body >

<!-- <div ng-app="myApp" ng-controller="MyCtrl" ng-init="Spiritual_Divine()">
	
	<div id='header' > 
		<h1>Spiritual_Divine</h1>
	</div>


	<div id='leftpanel' >
 		<img  ng-repeat="i in content2" ng-src="{{i.url}}" alt="{{i.alt}}"   ng-click="Spiritual_Divine_openinfo(i)"/>
	</div>


	<div id='container1'>
	
	  	<div class='placeinfo' id='info' ng-repeat="data in content1" >	

			<div id='show_image' >
				<img ng-src="{{data.Spiritual_Divine_Image_Url}}" alt = "{{data.Spiritual_Divine_Image_Name}}" />
			</div>

			<div  id='show_note'>
				{{data.Spiritual_Divine_Id}} 			<br>
				{{data.Spiritual_Divine_Image_Name}} 	<br>
				Opening Time : {{data.Spiritual_Divine_Opening_Time}} 	<br>
				Closing Time : {{data.Spiritual_Divine_Closing_Time}} 	<br>
				Days Closed : {{data.Spiritual_Divine_Days_Closed}} 	<br>
				Charges : {{data.Spiritual_Divine_Cost}} 			<br>
				Nearest Metro Station : {{data.Spiritual_Divine_Nearest_Metro_Station}} 	
			</div>

			<div  id='show_description'>
				{{data.Spiritual_Divine_Description}}
			</div>
			
		</div> 
	</div>
</div>
 -->

	<div id="category_container">
		<div ng-init="Spiritual_Divine()">
			<div class="row" >
				<div class="col-lg-12 text-center" id="category_row"> 
					<h1><B>SPIRITUAL DIVINE</B></h1>
				</div>
	

				<div class="col-md-3 col-lg-3" id='leftpanel'>
 					<img ng-repeat="i in content_spiritual" ng-src="{{i.url1}}" alt="{{i.alt}}" ng-click="Spiritual_Divine_openinfo(i)"/>
				</div>

				<div class="col-md-9 col-lg-9" id='container6'>
					<div class='col-md-12 col-lg-12' id='info' ng-repeat="data in content_spiritual_info" >	
	  					<div class="row">
	  					  	<div class="col-md-8 col-lg-8" id='show_image' >
								<img ng-src="{{data.Spiritual_Divine_Image_Url1}}" alt = "{{data.Spiritual_Divine_Image_Name}}" />
							</div>

							<div class="col-md-4 col-lg-4">
								<div id='show_note'>
									{{data.Spiritual_Divine_Id}} 			<br>
									{{data.Spiritual_Divine_Image_Name}} 	<br>
									Opening Time : {{data.Spiritual_Divine_Opening_Time}} 	<br>
									Closing Time : {{data.Spiritual_Divine_Closing_Time}} 	<br>
									Days Closed : {{data.Spiritual_Divine_Days_Closed}} 	<br>
									Charges : {{data.Spiritual_Divine_Cost}} 			<br>
									Nearest Metro Station : {{data.Spiritual_Divine_Nearest_Metro_Station}} 	
								</div>
							</div>
						</div>
						<br><br>

					<div  class="col-md-12 col-lg-12" id='show_description'>
						{{data.Spiritual_Divine_Description}}
					</div>
					</div> 
				</div>
			</div>
		</div>
	</div>

	
</body>
</html>

	






