<!doctype html>
<html>
<head>
<title></title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/creative.css" type="text/css">
<!-- jQuery -->
 <script src="../js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
 <script src="../js/bootstrap.min.js"></script>
</head>
<body>
<div class="bg-primary" id="admin_header">
	<h1>Admin System</h1>
</div>
<div ng-app="crudApp" class="container wrapper" ng-controller="DbController">
<h1 class="text-center">DELHI ON COMMAND</h1>
<nav class="navbar navbar-default">
<div class="navbar-header">
<div class="alert alert-default navbar-brand search-box">
<button class="btn btn-primary" ng-click="showInsertForm()">Add Category <span class="glyphicon glyphicon-plus" area-hidden="true"></span></button>
</div>
<div class="alert alert-default input-group search-box">
<span class="input-group-btn">
<input type="text" class="form-control" placeholder="Search Category Details Into Database..." ng-model="search_query">
</span>
</div>
</div>
</nav>

<div class="col-md-6 col-md-offset-3" >

<!-- Include form template which is used to insert data into database -->
<div ng-include src="'templates/form.html'"></div>

<!--Include form template which is used to edit and update data into database-->
<div ng-include src="'templates/editForm.html'"></div>
</div>
<div class="clearfix"></div>

<!-- Table to show employee detalis -->
<div class="table-responsive">
<table class="table table-hover">
<tr>
<th>Category ID</th>
<th>Category Name</th>
<th></th>
<th></th>
</tr>
<tr ng-repeat="detail in details| filter:search_query">
<td>{{detail.category_id}}</td>
<td>{{detail.category_name}}</td>
<td>
<button class="btn btn-warning" ng-click="editInfo(detail)" title="Edit"><span class="glyphicon glyphicon-edit"></span></button>
</td>
<td>
<button class="btn btn-danger" ng-click="deleteInfo(detail)" title="Delete"><span class="glyphicon glyphicon-trash"></span></button>
</td>
</tr>
</table>
</div>

<div class="bg-primary" id="subcategory_header">
	<h3 class="text-center">Want to add details to Sub-Category</h3>
</div>
<div>
<h3>Select Sub-Category:</h3>
<span>
<div id="mainselection">
<select  ng-model="selected" ng-change="changedValue(selected)" ng-click="select_subCategory(selected)">
	<option ng-repeat="detail in details" value="{{detail.category_name}}">{{detail.category_name}}
	</option>
 </select>
 </div>
 </span>
</div><!-- 
<div ng-repeat="sub in subDetails" >
{{sub.category_id}}
</div> -->

<br></br>
<div class="col-md-6 col-md-offset-3" >
<!--Include form template which is used to insert data into database -->
 <div ng-include src="'templates/subCategoryForm.html'"></div>
 <div ng-include src="'templates/editSubCategoryForm.html'"></div>
</div>
<div class="clearfix"></div>

<!-- Table to show employee detalis -->
<div class="table-responsive" id="subcategory_table">
<table class="table table-hover">
<tr>
<th>{{content1}} ID</th>
<th>{{content1}} Name</th>
<th>{{content1}} URL</th>
<th>{{content1}} Description</th>
<th>{{content1}} Nearest Metro</th>
<th>{{content1}} Destination To</th>
<th>{{content1}} Opening Time</th>
<th>{{content1}} Closing Time</th>
<th>{{content1}} Cost</th>
<th>{{content1}} Days Closed</th>
<th></th>
<th></th>
</tr>
<tr ng-repeat="detail in subDetails| filter:search_query">
<td>{{detail.id}}</td>
<td>{{detail.Image_Name}}</td>
<td>{{detail.Image_Url}}</td>
<td>{{detail.Desc}}</td>
<td>{{detail.Metro}}</td>
<td>{{detail.Destination_to}}</td>
<td>{{detail.OpeningTime}}</td>
<td>{{detail.ClosingTime}}</td>
<td>{{detail.Cost}}</td>
<td>{{detail.DaysClosed}}</td>
<td>
<button class="btn btn-warning" ng-click="editSubcategoryInfo(detail)" title="Edit"><span class="glyphicon glyphicon-edit"></span></button>
</td>
<td>
<button class="btn btn-danger" ng-click="deleteSubcategoryInfo(detail,content1)" title="Delete"><span class="glyphicon glyphicon-trash"></span></button>
</td>
</tr>
</table>
</div> 
hello
{{something1}}
</div>
<!-- Include controller -->
<script src="js/angular-script.js"></script>
<!-- <div ng-app="dropdownlist_categories" ng-controller="dropdownlist_categories_controller">
	<select ng-model="selected_category">
	<option ng-repeat="x in categories" value="{{x.category_name}}">{{x.category_name}}
	</option>
 	</select>
 	
 </div> 
 	<script >
 		var app=angular.module('dropdownlist_categories',[]);
 		app.controller('dropdownlist_categories_controller',['$scope','$http',function($scope,$http){
 			$http.get("database.php").success(function(response){$scope.categories=response;});
 		
 		}]);

 	</script>-->

</body>
</html>



