#category_container{
	background-color: #FFE4B5;
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto;
	padding-top: 15px;
}

#category_row{
	background-color: #000;
	color:white;

}

#leftpanel{
	background-color: #FFF5EE;
	width:25%;
}

#leftpanel > img{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 100%;
	cursor:pointer;
	border-radius: 5%;
	border: 1px solid	#380000 ;

}

#container1,#container2{
	background-color: #FE5A1D;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	display: none;
}

#info{
	background-color: white;
	margin-top: 40px;
	margin-bottom:20px;
}

#show_image>img{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 100%;
}

#show_description{
	background-color: #FFF0F5;
}

#show_note{
	background-color: #FFF5EE;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 100%;
	float: right;
}